.timetableContainer {
  overflow-x: auto;
  overflow-y: auto;
  max-height: 80vh;
  width: 100%;
  max-width: 1200px;
  background-color: white;
  border-radius: var(--radius-md);
  border: 1px solid var(--border-light);
  box-shadow: var(--shadow-card);
}

.timetableGrid {
  display: grid;
  grid-template-columns: 60px repeat(5, minmax(170px, 1fr));
  min-width: 750px;
}

.headerCell {
  background-color: var(--bg-secondary);
  border-right: 1px solid var(--border-light);
  border-bottom: 1px solid var(--border-light);

  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 30;
}

.dayHeader {
  text-align: center;
  padding: var(--space-2) var(--space-1);
  background-color: var(--bg-secondary);
  font-weight: var(--font-bold);
  color: var(--text-label);
  border-bottom: 1px solid var(--border-light);
  border-right: 1px solid var(--border-light);

  position: sticky;
  top: 0;
  z-index: 10;
}

.dayHeader:last-child,
.gridCell:nth-child(6n) {
  border-right: none;
}

.timeLabel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.7rem;
  font-weight: var(--font-bold);
  color: var(--text-placeholder);
  padding: var(--space-1);
  background-color: var(--bg-secondary);
  border-right: 1px solid var(--border-light);
  border-bottom: 1px solid var(--border-light);

  position: sticky;
  left: 0;
  z-index: 20;
}

.timeDivider {
  margin: 2px 0;
}

.gridCell {
  padding: var(--space-2);
  min-height: 80px;
  border-bottom: 1px solid var(--border-light);
  border-right: 1px solid var(--border-light);

  display: flex;
  flex-direction: column;
  gap: var(--space-2);
}

/* Scroll bar */
/* Firefox */
.timetableContainer {
  scrollbar-width: thin;
  scrollbar-color: var(--border-divider) transparent;
}

/* Chrome, Edge, Safari */
.timetableContainer::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.timetableContainer::-webkit-scrollbar-track {
  background: transparent;
  margin: 4px;
}

.timetableContainer::-webkit-scrollbar-thumb {
  background-color: var(--border-divider);
  border-radius: 10px;
  border: 2px solid white;
}

.timetableContainer::-webkit-scrollbar-thumb:hover {
  background-color: #94a3b8;
}
