.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--space-3) var(--space-8);
}

.headerLogo {
  display: flex;
  align-items: center;
  gap: var(--space-3);
}

.headerLogo span {
  font-size: var(--text-xl);
  font-weight: var(--font-bold);
  color: var(--text-title);
}

.headerLogo img {
  width: 40px;
  height: 40px;
}
